.Banner{
    background-color: var(--white);
    display: flex;
    padding:2rem 15rem;
    padding-left: 12rem;
    /* padding-right: 20rem; */
    justify-content: space-between;
    align-items: center;
    height: 85vh;
    position: relative;
    
    
} 

.bannerImg{
    width: 70rem;
    position: relative;
    z-index: 2;
    & img{
        mix-blend-mode: multiply;
        max-width: 100%;
        height: auto;
        object-fit: contain;
        object-position: center;
        border-radius: 50px 0 50px 0;
    }
    
    }

.bannerText{
    display: flex;
    flex-direction: column;
    gap: 2rem;

    & p{
        font-size: 3rem;
        font-weight: 600;
    }
}
