.Home{
    position: relative;
}
.bannerBox{
    background-color:var(--navy);
    width: 40rem;
    height: 40rem;
    position: absolute;
    right: 12.6rem;
    top: 16rem;
    border-radius: 50px 0 50px 0;
    background-image: radial-gradient(#3f91dd .2px, var(--navy) .2px);
    background-size: 10px 10px;  
}