.selectedProduct{
    border: none;
    display: flex;
    justify-content: center;
    padding: 3rem;
    padding-top: 8rem;
}
.mainImg{
    width: 45rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    & img{
        width: 100%;
        border-radius: 50px 0;
    }
}
.otherImagesDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    
    .otherImages{
        width: 20rem;
        height: 20rem;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
     }
    & img{
        object-fit: contain;
        object-position: center;
        height: 100%;
        width: 100%;
        cursor: pointer;
     }
}
.selectedRupeeDiv{
    display: flex;
    gap: 5rem;
    /* border: 1px solid; */
    align-items: center;
    font-size: 2.5rem;
    margin-left: -5px !important;
}
.addToCartDiv{
    display: flex;
    color: var(--white);
    background-color: var(--navy);
    cursor: pointer;
    align-items: center;
    gap: 2rem;
    font-size: 1.6rem;
    justify-content: center;
    padding:.5rem 1rem;
    width:12rem;
    border: 1px solid ;
}
.priceIcon{
    display: flex;
    align-items: center;
}
.selectedProductName{
    font-size: 3rem;
}

.productInfo{
    margin-top: 1rem;
    padding: 0 5rem;
    width: 70rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.selectedProductImgDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}
.productDesc{

    font-size: 1.6rem;
    font-weight: 400;
}
.selectedProductPrices{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}