.TopProducts{
    padding-top: 5rem;
    /* background: #BBD2C5;  
background: -webkit-linear-gradient(to bottom, #292E49, #536976, #BBD2C5);
background: linear-gradient(to bottom, #292E49, #536976, #BBD2C5); */

}
.tProduct{
    background-color: white;
    padding: 1rem;
}
.tProductContent{
    padding: 1rem;
}
.TopProducts h1{
    font-size: 3rem;
    font-weight: 600;
    color: white;
    text-align: center;
}
.topAllProducts{
    margin: 0 !important;
}