.Home{
    position: relative;
    /* background-image: url(../../images/low-poly-grid-haikei.png); */
}
.headerBanner{
    background: 
    linear-gradient(to bottom, rgb(17, 57, 70,1), rgb(234, 215, 187,0.6)), 
    url("https://images.unsplash.com/photo-1624304314520-8acb626f91f9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1932&q=80");
    background-size: cover;
    background-position: center;
}
.catProdBrand{
    background: #F7F8F8;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #ACBB78, #F7F8F8);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #ACBB78, #F7F8F8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}