.Home{
    position: relative;
    /* background-image: url(../../images/low-poly-grid-haikei.png); */
}
.headerBanner{
    background: 
    linear-gradient(to bottom, rgb(17, 57, 70,1), rgb(234, 215, 187,0.6)), 
    url("https://images.unsplash.com/photo-1624304314520-8acb626f91f9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1932&q=80");
    background-size: cover;
    background-position: center;
}
.catProdBrand{
    background-color: #63d471;
    background-image: linear-gradient(315deg, #63d471 0%, #233329 74%);
    
}