
.fullBanner{
    height: 100vh;
}
.Banner{
    display: flex;
    padding:2rem;
    height: 80vh;
    justify-content:center;
    align-items: center;
    position: relative;
} 

.bannerText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    & h1{
        font-size:12rem;
    }

    & p{
        font-size: 3rem;
        font-weight: 600;
        margin-bottom: 2rem;
    }
    & a{
        cursor:auto;
    }
}


@media screen  and (max-width:500px){
    .Banner{
        display: flex;
        flex-direction: column;
        padding: 8rem;
        padding-bottom: 0;
        gap: 5rem;
    }
    .bannerImg{
        width: 34rem;
    }
    .bannerText{
        & p{
            
            font-size: 2rem;
        }
    }
}
@media screen  and  (min-width:500px) and (max-width:800px){
    .Banner{
        display: flex;
        flex-direction: column;
        padding: 8rem;
        padding-bottom: 0;
        gap: 5rem;
    }
    .bannerImg{
        width: 40rem;
    }
    .bannerText{
        & p{
            font-size: 2.4rem;
        }
    }
}